In [17]:
import pandas as pd
import numpy as np

In [2]:
car_eval = pd.read_csv(r'C:\Users\pinos\Desktop\car_eval_dataset.csv')

In [3]:
# taking a look at the dataset
car_eval.head(10)

,buying_cost,maintenance_cost,doors,capacity,luggage,safety,acceptability,manufacturer_country
0,vhigh,low,4,4,small,med,unacc,China
1,vhigh,med,3,4,small,high,acc,France
2,med,high,3,2,med,high,unacc,United States
3,low,med,4,more,big,low,unacc,United States
4,low,high,2,more,med,high,acc,South Korea
5,low,low,3,4,small,low,unacc,France
6,med,med,4,4,big,med,acc,South Korea
7,vhigh,med,2,4,big,high,acc,France
8,high,low,3,4,big,low,unacc,Italy
9,low,high,4,4,small,low,unacc,Italy

In [5]:
# creating a table of frequencies
car_freq = car_eval['manufacturer_country'].value_counts()
print(car_freq)

Japan            228
Germany          218
South Korea      159
United States    138
Italy             97
France            87
China             73
Name: manufacturer_country, dtype: int64

In [11]:
# creating a table of proportions

car_freq_pro = car_eval['manufacturer_country'].value_counts(normalize=True)

print(car_freq_pro * 100)

Japan            22.8
Germany          21.8
South Korea      15.9
United States    13.8
Italy             9.7
France            8.7
China             7.3
Name: manufacturer_country, dtype: float64

In [13]:
# possible values for the variable buying_cost

print(car_eval['buying_cost'].unique())

['vhigh' 'med' 'low' 'high']

In [15]:
# buying_cost is a categorical variable which means I can create an order associated with the value

buying_cost_categories = ['low', 'med', 'high', 'vhigh']

print(buying_cost_categories)

['low', 'med', 'high', 'vhigh']

In [16]:
# converting the variable to type category

car_eval['buying_cost'] = pd.Categorical(car_eval['buying_cost'], 
                                         buying_cost_categories, 
                                         ordered=True)

In [22]:
# median for buying_cost

median_car = np.median(car_eval['buying_cost'].cat.codes)

print(median_car)

median_car_2 = car_eval['buying_cost'][int(median_car)]

print(median_car_2)

1.0
vhigh

In [25]:
# calculating the table of proportions for the variable luggage

car_lug_pro = car_eval['luggage'].value_counts(normalize=True)
print(car_lug_pro * 100)

small    33.9
med      33.3
big      32.8
Name: luggage, dtype: float64

In [27]:
# cheking for any missing values through the dropna function

car_lug_pro = car_eval['luggage'].value_counts(dropna=False, normalize=True)

print(car_lug_pro * 100)

small    33.9
med      33.3
big      32.8
Name: luggage, dtype: float64

In [ ]:
# the values are the same so the dropna function concludes there is no missing values

In [32]:
# another way to get the table of proportions

car_lug_pro = car_eval['luggage'].value_counts()/ len(car_eval['luggage'])

print(car_lug_pro * 100)

small    33.9
med      33.3
big      32.8
Name: luggage, dtype: float64

In [39]:
# finding the cars that have five or more doors

frequency_5 = (car_eval["doors"] >= '5').sum()

print(frequency_5)

246

In [42]:
# proportion of cars with 5 or more doors

frequency_5_pro = (car_eval["doors"] >= '5').value_counts(normalize=True)

print(frequency_5_pro * 100)

False    75.4
True     24.6
Name: doors, dtype: float64